body#home {
    color: #C8C8C8;
    background: #eaeaea url(../images/bg.jpg) repeat-x;
    background-position: center 96px;
    font-family: Arial;
}

body#other {
    color: #C8C8C8;
    background: #eaeaea;
    font-family: Arial;
}

a {
    text-decoration: none;
}

.header_container {
    width: 100%;
    background: #00283b ;
    color: #C8C8C8;
    height: 96px;
    border-bottom:2px groove #01bdf5;
    margin-bottom:24px;
}

    .header_container h1 {
        float: left;
        font-size: 40px;
        padding: 20px 0 0 0;
    }

    .header_container .menu {
        font-size: 16px;
        float: right;
        display: block;
    }

    .header_container .menu a {
        font-size: 16px;    
        color: #9e9e9e;
        display: block;
        float: left;
        height: 96px;
        line-height: 96px;
        padding: 0px 14px;
    }

        .header_container .menu a:hover, .header_container .menu a.active {
            font-size: 16px;
            background: #2d657f;
            color: #fff;
            border-bottom: 4px solid #01bdf5;
            height: 92px;
            line-height: 96px;
        }

.container_12 .left_column {
    width: 400px;
    height: 460px;
    padding-top: 24px;
    }

    .container_12 .left_column h2 {
        color:#fff;
        font-size: 28px;
        margin: 0 0 18px 0;
    }

    .container_12 .left_column p {
        text-align: justify;
        line-height: 28px;
        font-size: 20px;
    }

    .container_12 .left_column h3 {
        font-size: 14px;
        line-height: 28px;
        margin: 0 0 5px 0;
    }

   .container_12 .left_column a {
        color: #fff;
    }
    
.container_12 .right_column {
        width: 560px;
        height: 460px;
        float: right;
        text-align:right;
    }

.container_12 .features_item {
            color: #000;
            width: 280px;
            float: left;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .container_12 .features_item h3 {
            font-size: 20px;
            margin: 0 0 5px 0;
        }

        .container_12 .features_item h4 {
            font-size: 14px;
            margin: 0 0 5px 0;
        }

        .container_12 .features_item p {
            font-size: 14px;        
            line-height: 20px;
            text-align: justify;
        }

        .container_12 .features_item li {
            font-size: 14px;        
            line-height: 20px;
            text-align: justify;
        }

        
.container_12 .features_item_white {
            background: #00283b ;
            width: 280px;
            height: 220px;
            float: left;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            border-bottom:2px groove #01bdf5;
            -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
            box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
        }

        .container_12 .features_item_white p {
            font-size: 14px;        
            line-height: 20px;
            text-align: justify;
            padding-left: 20px;
            padding-right: 20px;
        }

.container_12 .features_item_full {
            color: #000;
            width: 900px;
            float: left;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        .container_12 .features_item_full h3 {
            font-size: 20px;
            margin: 0 0 5px 0;
        }

        .container_12 .features_item_full p {
            font-size: 14px;        
            line-height: 20px;
            text-align: justify;
        }


.container_12 .normal {
            color: #000;
            float: left;
            padding-bottom: 20px;
        }

        .container_12 .normal h3 {
            font-size: 20px;
            margin: 0 0 5px 0;
        }

        .container_12 .normal p {
            font-size: 14px;        
            line-height: 20px;
            text-align: justify;
        }

        .container_12 .normal li {
            font-size: 14px;        
            line-height: 20px;
            text-align: justify;
        }

.container_12 .normal_white {
    width: 960px;
    height: 460px;
    padding-top: 24px;
    }

    .container_12 .normal_white h2 {
        color:#fff;
        font-size: 28px;
        margin: 0 0 18px 0;
    }

    .container_12 .normal_white p {
        text-align: justify;
        line-height: 18px;
        font-size: 14px;
    }

   .container_12 .normal_white a {
        color: #fff;
    }

.container_12 .example {
            background: #fff;
            color: #000;
            width: 280px;
            height: 240px;
            float: left;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            border:1px solid #cfcfcf;
            text-align: center;
        }

        .container_12 .example h3 {
            font-size: 14px;
            margin: 0 0 5px 0;
        }

        .container_12 .example p {
            font-size: 14px;        
            line-height: 20px;
            text-align: justify;
        }

        
.spacer {
    height: 24px;
    }

        
.footer {
    width: 100%;
    height: 60px;
    background: #00283b;
    color: #C8C8C8;
    padding-top: 16px;
    font-size: 14px;
}
    
    .footer .container_12 a {
        color: #FFF;
    }


.download {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	border:2px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
	height:48px;
	line-height:48px;
	width:80%;
	text-decoration:none;
	text-align:center;
       
}
.download:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}.download:active {
	position:relative;
	top:1px;
        
}

        
.download_small {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:24px;
	line-height:24px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.download_small:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.download_small:active {
	position:relative;
	top:1px;
}
